.contact-me{
    /* margin-top: 60px;
    max-height: 100%;
    max-width: 100%;*/
    padding: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(26,32,44);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
    gap: 0.7rem;
    width: fit-content;
    padding: 1rem 5rem;
}
input,textarea{
    font-family: 'josifin sans', sans-serif;
    background-color: rgb(35,41,52);
    margin: 7px 75px;
    padding: 0.6rem 0.5rem;
    outline: none;
    width: 40rem;
    border-radius: 10px;
    border: none;
    color: rgb(241, 237, 237);
}
input:focus,textarea:focus{
    background-color: rgba(30, 29, 29, 0.04);
    border: 1px solid rgb(117, 174, 188);
}
.submit{
    padding: 12px 20px;
    width: 40rem;
    color: rgb(117, 174, 188);
    background-color: rgb(26,32,44);
    border: 2px solid rgb(117, 174, 188);
  /* box-shadow:inset 25px 25px 25px rgb(133, 219, 222),inset -20px -20px 25px rgb(44, 190, 209); */
  border-radius: 10px;
  font-size: 1.125rem;;
  outline: none;
  cursor: pointer;
}
.submit:hover{
    background-color: rgba(30, 29, 29, 0.04);
}
/* #submit
{
    background-color: rgb(243, 235, 235);
    box-shadow: inset -5px -5px 10px tomato, inset 5px 5px 10px tomato;
    margin-top: 25px;
    margin-left: 100px;
    padding: 5px 10px;
    border: 2px solid tomato;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
#submit a{
    text-decoration: none;
    color: black;
}

#success{
    display: none;
    margin: 0 auto;
    padding: 0px;
    width: 15rem;
    text-align: center;
    background-color: rgb(26,32,44);
    color: rgb(246, 241, 241);
    border: none;
}