@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rajdhani:wght@300&family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Lato:wght@300;400;700&family=Poppins&family=Ubuntu&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Serif', serif;
  list-style: none;
  text-decoration: none;
  color: white;
}
body{
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  width: 100vw;
  border: 1px solid black;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(26,32,44);
}
body::before{
  content: '';
  position: absolute;
  top: 3520px;
  right: -190px;
  width: 40%;
  height: 40%;
  background-image: url('../IMAGES/blob.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
::-webkit-scrollbar{
  width: 0.5rem;
  background-color: rgb(26,32,44);
}
::-webkit-scrollbar-thumb{
  background: rgb(83, 111, 176);
  border-radius: 10px;
}

/* Navbar section */

.normalText {
  font-size: 17px;
}
#navbar {
  background-color: rgb(23,29,40,0.85);
  display: flex;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  backdrop-filter: blur(2px);
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar img {
  height: 80%;
  width: 10%;
  margin-left: 2rem;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transform: all 0.3s ease-in-out;
  transform: all 0.3s ease-in-out;
  background-color: white;
}

#nav li a {
  color: rgb(189, 203, 216);
  padding: 0px 10px;
  margin: 5px 40px;
  font-size: 1.3rem;
  transition: 1s ease;
  font-weight: bold;    
}

#nav li a:hover {
  color: rgb(12,183,218);
  text-decoration: none;
}


/* intro */
#intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: fit-content;
  flex-direction: row;
  background-color: rgb(26,32,44);
  padding: 6rem 0px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info p:first-child {
  /* font-family: 'Source Code Pro', monospace; */
  font-size: 2.5rem;
  line-height: -50px;
}

.info p:nth-child(2) {
  font-weight: bold;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-size: 4rem;
  background-image: linear-gradient(to right, #4168bd, #3791db,#413878);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info p:nth-child(3) {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
}
.info p:nth-child(3) b{
  background-image: linear-gradient(to right, #e1425f, #f189b1, #9f7aea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.but{
  display: flex;
  gap: 2rem;
  margin-top: 25px;
}
#contact a{
  text-decoration: none;
  color: black;
}
#download a{
  color: white;
  text-decoration: none;
}
#contact{
  padding: 8px 20px;
  background-color:  rgb(110, 140, 200);
  border-radius: 10px;
  font-size: 1.125rem;;
  outline: none;
  border: none;
}
#download{
  padding: 2px 15px;
  border: 0.012rem solid rgb(168, 168, 168);
  background-color: rgb(35, 40, 50);
  border-radius: 10px;
  font-size: 1.125rem;;
  outline: none;
}
#download a{
  display: flex;
  align-items: center;
  justify-content: center;
}
#download a img{
  height: 2.3rem;
  filter: invert(1);
}
#download:hover{
  background-color: rgb(26,32,44);
  border: 0.012rem solid rgb(168, 168, 168);
}
#contact:hover{
  opacity: 0.8;
}

.prof img { 
  height: 60vh;
  border-radius: 25px;
  opacity: 0.8; 
  transform: skewX(-7deg);
  mix-blend-mode:normal;
} 

/* about */
.small {
  font-size: 1.5rem;
}
.headline{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headline h2 {
  width: fit-content;
  font-weight: bold;
  background-image: linear-gradient(to right, #e1425f, #f189b1, #7b43ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 70px;
  margin-top: 50px;
  height: fit-content;
 
}

#prof2 img {
  height: 20rem;
  border-radius: 25px;
  filter: grayscale(80%);
  transition: filter 1s ease-in-out;
  border: none;
  outline: none;
}

#prof2 img:hover {
  filter: grayscale(20%);
} 

#about {
  margin: 0em 3em;
}

.about {
  padding: 2em 0em;
  height: fit-content;
  width: 100vw;
  background-color: rgb(26,32,44);
}

/* timeline */

.timeline {
  width: 100%;
  height: 500px;
  padding: 30px 20px;
  margin-top: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 25px;
}

.timeline ul {
  list-style-type: none;
  border-left: 2px solid rgb(103, 157, 168);
  padding: 10px 5px;
  float: right;
}

.timeline ul li {
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  transition: .5s;
}

.timeline ul li span {
  display: inline-block;
  background-color: rgb(165, 182, 220);
  border-radius: 25px;
  padding: 2px 5px;
  font-size: 15px;
  text-align: center;
  color: rgb(43, 42, 42);
}

.timeline ul li .content h3 {
  color: #34ace0;
  font-size: 17px;
  padding-top: 5px;
}

.timeline ul li .content p {
  padding: 5px 0px 15px 0px;
  font-size: 15px;
}

.timeline ul li:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: rgb(176, 202, 226);
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: .5s;
}

.timeline ul li:hover {
  background-color: rgba(116, 132, 146, 0.252);
}

.timeline ul li:hover:before {
  background-color: rgb(110, 140, 200);
  box-shadow: 0px 0px 10px 2px rgb(110, 140, 200);
}

/* Skills section */
.my-skills {
  padding: 2em 0em;
  background-color: rgb(26,32,44);
  color: white;
  height: fit-content;
}

.skills {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)); /* Set 5 columns with equal width */
  gap: 1rem; /* Set the gap between cards */
  justify-content: center; /* Center the grid horizontally */
}


.img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.skills .card {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  background-color: rgb(26,32,44);
  border-radius: 15px;
  outline: none;
  border: none;
  /* box-shadow: 0 15px 60px rgba(29, 28, 28, 0.5); */
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

h2 {
  font-size: 1.6em;
}

.face2 img:hover {
  filter: grayscale(40%);
}

.face2 img {
  filter: brightness(70%) grayscale(100%);
  filter: invert(1);
  width: 4rem;
}

.card .face.face2 {
  background: linear-gradient(150deg,
      #2b97f0 0%,
      #15639a 20%,
      rgb(105, 144, 218) 90%);
  border-radius: 10px;
}
.card .face.face2:hover {
  background: linear-gradient(250deg,
      #255ade 0%,
      #6ba9bd 35%,
      rgb(29, 83, 185) 80%);
  border-radius: 10px;
}

/* projects section  */
.my-projects {
  padding: 2em 0em;
  background-color: rgb(26,32,44);
  color: white;
  height: fit-content;
}

.pro1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem; 
}
.pro2{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.pro1 .card ,.pro2 .card{
  position: relative;
  width: 300px;
  height: 350px;
  background-color: rgb(0, 0, 0, 0.04);
  border-radius: 20px;
  overflow: hidden;
  transition: 1s ease;
  display: flex;
  align-items: center;
  border: 0.5px solid rgb(109, 108, 108);
}


.pro1 .card .imgBx,.pro2 .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-90%);
  z-index: 1;
  width: 100%;
  height: 220px;
}

.pro1 .card .imgBx img,.pro2 .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
}

.pro1 .card .contentBx,.pro2 .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
  font-size: 1.4rem;
}

.pro1 .card:hover .contentBx , .pro2 .card:hover .contentBx {
  height: 150px;
}

.pro1 .card .contentBx h2,.pro2 .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}


.pro1 .card:hover .contentBx .visit, .pro2 .card:hover .contentBx .visit {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}

.pro1 .card .contentBx .visit h3,
.pro1 .card h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.pro2 .card .contentBx .visit h3,
.pro2 .card h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.visit {
  margin-top: 2rem;
  font-family: 'IBM Plex Serif', serif;
  display: flex;
  justify-content: center;
  align-items: baseline;
  opacity: 0;
}
.visit img {
  margin-left: 1rem;
  opacity: 0.5;
  cursor: pointer;
  filter: invert(0.5);
} 

.visit img:hover {
  opacity: 1;
} 

/* Check Me on */
.check-me-on {
  padding: 2em 0em;
  background-color: rgb(26,32,44);
  color: white;
  height: fit-content;
}

.see .check-card {
  width: 190px;
  height: 254px;
  background: linear-gradient(150deg,
  rgb(51, 104, 128) 0%,
      #6ba9bd 55%,
      #b2d5eb 95%);
  border-radius: 50px;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.see .check-card:hover {
  filter: brightness(0.7);
}

.see {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.check-card img {
  margin-top: 1rem;
  width: 10rem;
  border-radius: 336px;
  border: 2px solid white;
}


/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 10px auto;
}
.footer img{
  mix-blend-mode: color-dodge;
}
.main-footer {
  padding-top: 20px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: rgb(23,29,40);
  z-index: 98;
  color: white;
  margin-top: -1rem;

}